.nav-principal {
  min-height: 70px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #f78b00;
}

.navbar-toggler {
  border: 0;
}

.menu-principal {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.menu-principal li {
  font-size: 18px;
  color: #00285f;
}

.nav-principal h4 {
  font-weight: bold;
  font-size: 24px;
  color: #00285f;
}

.remove-sublinhado {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.blue-hum {
  color: #00285f;
}

@media (min-width: 768px) {
  .menu-principal {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  .nav-principal {
    min-height: 70px;
    padding-top: 20px;
    padding-left: 200px;
    background-color: #f78b00;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 40, 95)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
  color: #f78b00;
}
