.card-container {
  margin-top: 20px;
  background: #ededed;
  padding: 10px 20px;
  border-radius: 10px;
}

.card-super {
  text-align: center;
}

.card-super img {
  width: 100%;
}
.card-info h5 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.card-info p {
  font-style: italic;
  font-size: 14px;
}

.card-info button {
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  height: 40px;
  margin-bottom: 15px;
}

.card-info button:hover {
  color: rgb(255, 128, 0);
  font-weight: bold;
}
