.home-container {
  margin-top: 60px;
  padding: 40px 13px;
}

.home-container img {
  width: 100%;
}

.card-superior {
  background-color: #00285f;
  color: #fff;
  padding: 60px 20px 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-superior-conteudo {
  margin-top: 20px;
}

.card-superior-conteudo h4 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-superior-conteudo p {
  font-size: 14px;
  text-align: center;
}

.card-inferior {
  text-align: center;
  padding: 25px;
  
  margin-top: 21px;
  background: #ededed;
  border-radius: 10px;
}

.card-inferior button {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  width: 174px;
  height: 40px;
}

.card-inferior button:hover{
  color: rgb(255, 128, 0);
  font-weight: bold;
}

.card-inferior p {
  margin-top: 12px;
  color: #585858;
  font-size: 18px;
}
